/*Comment here
            (1) CSS using tag name
            */

            /* 
            (2) Using id as a selector to style the tag
            */
            #firstp {
                color: firebrick;
            }

            /* 
            (3) Using class as a selector to style the tag
            */
            .otherp {
                color: green;
            }

            /*p{
                color:yellowgreen;
            }*/
            body{
                background-color: violet;
            }
            H3{
                color:brown;
            }